# Node/React related files
node_modules
/build
.DS_Store
npm-debug.log*
yarn-debug.log*

# Python related files
*.pyc
__pycache__/
*.mo
*.pot
*.egg-info/
.venv
venv/

# Sensitive Info
.env
backend/.env
client/.env